# compiled output
/dist
/node_modules

# logs
logs
*.log
npm-debug.log*

# OS
.DS_Store

# env
.env
.env.*

# temp
.temp
.tmp
*.tgz
.nest-can-react
/public/nest-can-react
examples/**/.nest-can-react
examples/**/public
examples/**/dist
examples/**/node_modules

# coverage
/coverage
